<div class="title">
  <h1><strong>レシピを登録しました</strong></h1>
</div>

<h4>ー新しいレシピ：<a href="/recipes/<%= @recipe.id %>"><%= @recipe.name %></a></h4>

<%= render 'show' %>

<div class="next-btn">
  <%= link_to root_path do %>
    <p><button type="button" class="btn btn-primary">TOPに戻る</button></p>
  <% end %>
</div>
