<h1>TOPページ（レシピの一覧検索ページ）</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
    <%= link_to recipe.name, recipe_path(recipe.id) %>
    </li>
  <% end %>

  <%= link_to "登録" , new_value_path %>
</ul>
