// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

body { 
  background-image:url(background.png);
}

footer {
  margin-top:40px;
}

h1 {
  color:#889b00;
}

h2,h4 {
  color:#e0d7c1;
}

.back-white {
  background-color:white;
  border:solid 1px #ddd4bf;
  padding-bottom:80px;
}

.title {
  margin-bottom:40px;
  margin-left:10px;
}

.procedure-list {
  border-left:solid 5px #eeeeee;
  padding-bottom:30px;
}

.procedure-entry {
  margin-left:10px;
  margin-bottom:5px;
  border-bottom:solid 2px #eeeeee;
}

.movie {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  margin-bottom:10px;
}

.movie-container {
  float:center;
  margin-top:40px;
  margin-bottom:40px;
}

.next-btn {
  float:right;
  margin-right:40px;
}

.add-btn {
  float: right;
}

.nav-tabs {
  font-size:small;
}

.checklist {
  display: inline-block;
  width: 33%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border:solid 2px #ffffff;
  letter-spacing:normal;
  margin-bottom:10px;
  font-size:small;
}

.tab-content {
  background-color:#e0d7c1;
  letter-spacing:-0.4em;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:13px;
  margin-bottom:20px;
  border-bottom:solid 1px #BBB;
}

.val-box{
  display: block;
  padding-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f0e7d1;
  border-top:solid 2px #e0d7c1;
  border-bottom:solid 2px #e0d7c1;
}

.backbrown{
  background-color: #e0d7c1;
  padding-top: 32px;
  padding-bottom: 30px;
  margin-bottom: 20px;

  border-top: solid 1px #d0c7b1;
  border-bottom: solid 1px #d0c7b1;
}

.column{
  background-color: #f0e7d1;
  border:solid 2px #e0d7c1;
}

.procedure-box{
  background-color: #f0e7d1;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.table{
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}